# -*- mode: gitignore; -*-

# Emacs temp. files
*~
\#*\#
.#*

# Emacs lisp compiled files
*.elc

# C mode
*.la
*.lo
*.o
*.a
*.so

## Backup files
# aspell
*.bak

# Avoid accidental inclusion of my secrete GnuPG, ssh keys.
# This may not happen, but if in case ...
*secring.gpg
*_rsa
