# -*- mode: gitignore; -*-

# Emacs temp. files
*~
\#*\#

# Emacs lisp compiled files
*.elc

# C mode
*.la
*.lo
*.o
*.a
*.so

## backup files
# aspell
*.bak

# avoid accidental inclusion of my secrete GnuPG, ssh keys.
# This may not happen, but if in case ...
*.gpg
*_rsa
