[user]
    name = Mohammed Sadik
    email = sadiq@sadiqpk.org

[color]
    ui = auto

[core]
    editor = emacs
    excludesfile = ~/.gitignore

[format]
    pretty = oneline

[credential]
    helper = cache

[alias]
    cm = checkout master
    m  = commit -m
    mm = merge master
    lo = log --oneline
    ca = commit --amend

[transfer]
    fsckObjects = true
