[user]
        name = Mohammed Sadik
        email = sadiq@sadiqpk.org
[color]
        ui = auto
[core]
        editor = emacs
        excludesfile = ~/.gitignore
[format]
        pretty = oneline
[credential]
        helper = cache
[alias]
        cm = checkout master
        mm = merge master
        lo = log --oneline
